extends layout

block content
    h1= title
    .row
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Nhiệt độ hiện tại
                .panel-body
                    p= curTemp
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Nhiệt độ trung bình trong ngày
                .panel-body
                    p= avgTemp
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Nhiệt độ trung bình trong 7 ngày
                .panel-body
                    p= avgTempBy7Days
        .col-sm-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title Nhiệt độ trung bình trong 30 ngày
                .panel-body
                    p= avgTempBy30Days